
Library/AuxiliaCore/obj/

Library/DataCore/obj/

Library/InfrastructureCore/obj/

Library/IntegrationEventsCore/obj/

Library/RepoCore/obj/

Service/IdentityApi/obj/

Library/AuxiliaCore/bin/

Library/DataCore/bin/

Library/InfrastructureCore/bin/

Library/IntegrationEventsCore/bin/

Library/RepoCore/bin/

Service/IdentityApi/bin/
.vs/

Service/ClientAPI/obj/
Service/ClientAPI/bin/

AuxiliaCore/obj/

*.dll

*.pdb

2FAIdentity_Test/obj/
2FAIdentity_Test/bin/
GatewayAPI/obj/
GatewayAPI/bin/
bin
obj
Service/DonorAPI/obj/
Service/DonorAPI/bin/
dbo.TimeZone.Table.sql
*.idea
/Doc/~$chiture.docx
/Doc/~WRL2326.tmp
/Report20200821-1003 (2).diagsession
*.diagsession
